.aside {
  /* height: calc(100% - 60px); */
  height: 100%;
  width: 250px;
  /* background-color: white; */
  /* position: absolute; */
  overflow: auto;
  /* background-color: red; */
}

.aside::-webkit-scrollbar {
  display: none;
}

.indi_option_aside {
  height: 50px;
  width: 100%;
  /* background-color: red; */
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.indi_option_inner {
  height: 100%;
  width: 90%;
  background-color: white;
  display: flex;
  border-radius: 6px;
  cursor: pointer;
}

.indi_option_inner:hover {
  background-color: #8c85ff;
}

.indi_option_inner:hover .ip_name_section {
  color: white;
}

.indi_option_inner:hover .fill_ig_hover {
  fill: white;
}

.ip_svg_section {
  height: 100%;
  width: 30%;
  /* background-color: green; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.ip_name_section {
  height: 100%;
  width: 70%;
  color: rgba(30, 63, 142, 1);
  display: flex;
  align-items: center;
  letter-spacing: 0.7px;
  font-weight: 500;
}
.ip_svg {
  height: 26px;
  width: 26px;
}

.empty_space {
  height: 100px;
  width: 100%;
}
