.search_section {
  padding-top: 10px;
  height: fit-content;
  width: 100%;
  background-color: white;
  border-radius: 6px;
  margin-top: 5px;
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px;
}

.ss_bellow {
  height: 80px;
  width: 100%;
  background-color: white;
  border-radius: 6px;
  margin-top: 5px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  /* padding-left: 20px;
      padding-right: 20px; */
  justify-content: space-between;
}

.search_area {
  height: 65%;
  width: 40%;
  /* background-color: red; */
  border-radius: 6px;
  display: flex;
  box-sizing: border-box;
  border: 1px solid #1e3f8e;
  overflow: hidden;
}

.search_svg_section {
  height: 100%;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search_svg {
  height: 24px;
  width: 24px;
}

.search_input_section {
  height: 100%;
  width: calc(100% - 40px);
  display: flex;
}

.search_input {
  height: 100%;
  width: 100%;
  border: 0;
  margin: 0;
  padding: 0;
  outline: 0;
  font-size: 14px;
  padding-left: 10px;
  padding-right: 10px;
}

.filter_area {
  height: 100%;
  width: 20%;
  /* margin-right: 20px; */
  /* background-color: red; */
  box-sizing: border-box;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.filter_main_section {
  box-sizing: border-box;
  height: 65%;
  width: 100%;
  border: 1px solid #1e3f8e;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
}

.filter_svg_section {
  height: 100%;
  width: 20%;
  /* background-color: red; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.filter_svg {
  height: 26px;
  width: 26px;
}

.filter_text {
  height: 100%;
  width: 80%;
  display: flex;
  align-items: center;
}

/* table section starts here */
.table_section {
  width: 100%;
  height: fit-content;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
  border-radius: 6px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
}

.table_row {
  height: 50px;
  width: 100%;
  display: flex;
  gap: 10px;
  border-bottom: 1px solid gray;
  padding-bottom: 10px;
}
.table_row_last {
  height: 50px;
  width: 100%;
  display: flex;
  gap: 10px;
  /* border-bottom: 1px solid gray; */
  padding-bottom: 10px;
}

.img_section {
  height: 100%;
  width: 50px;
  border-radius: 6px;
  background-color: red;
  overflow: hidden;
}

.profile_img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.name_section {
  height: 100%;
  width: 85%;
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  color: #1e3f8e;
  /* background-color: red; */
}

.profile_line {
  height: 60%;
  width: 1px;
  background-color: #1e408eac;
}

.profile_name {
  padding-right: 10px;
  padding-left: 10px;
}

.go_to_profile_section_btn {
  height: 100%;
  width: 12%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gtpb {
  height: 80%;
  width: fit-content;
  /* background-color: red; */
  border-radius: 4px;
  box-sizing: border-box;
  border: 1px solid #1e3f8e;
  display: flex;
  align-items: center;
  /* padding-left: 10px; */
  justify-content: center;
  color: #1e3f8e;
  font-weight: 500;
  padding-left: 20px;
  padding-right: 20px;
  cursor: pointer;
}

.gtpb:hover {
  background-color: #1e3f8e;
  color: white;
}

.main_empty_section {
  height: 200px;
  width: 100%;
}

.all_main_options_ud {
  height: 80px;
  width: 100%;
  /* background-color: red; */
  margin-top: 20px;
  display: flex;
  /* justify-content: space-between; */
  gap: 30px;
}

.main_indi_options {
  height: 100%;
  width: 18%;
  background-color: white;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  cursor: pointer;
  position: relative;
}

.main_indi_options:hover .hover_fill_mio {
  fill: #ff25f0;
  /* color: #ff25f0; */
}
.main_indi_options:hover .hover_stroke_mio {
  stroke: #ff25f0;
  /* color: #ff25f0; */
}
.main_indi_options:hover .mio_main_name_ud {
  /* fill: #ff25f0; */
  color: #ff25f0;
}

.main_indi_option_svg {
  height: 20px;
  width: 20px;
}

.mio_ud_svg_section {
  /* height: 30%; */
  width: 100%;
  display: flex;
  align-items: flex-end;
}

.mio_left_ud {
  height: 100%;
  width: 80%;
  /* background-color: red; */
  box-sizing: border-box;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mio_right_svg_section {
  height: 100%;
  width: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.upper_line_mio_ud {
  height: 4px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  /* background: linear-gradient(to bottom, rgba(255, 37, 240, 1), transparent); */
  background-color: #ff25f0;
  display: none;
}

.mio_ud_left_svg {
  height: 28px;
  width: 28px;
}

.mio_main_name_ud {
  font-size: 15px;
  font-weight: 500;
  /* color: #ff25f0; */
  color: #000000ce;
  margin-top: 4px;
}
